


.header_box{
    display: flex;
    width: 90%;
    justify-content: space-between;

}

.title{
    font-family: 'Roboto';
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 12%;
    text-align: left;
    text-decoration: none;
    color: black;
}

.menu_box{
    margin-top: 20px;
    font-family: 'Roboto';
    display: flex;
    justify-content: flex-end;

}

.menu{
    font-family: 'Roboto';
    font-weight: 100;
    text-decoration: none;
    color: black;
    margin: 15px;
    transition: font-weight 0.3s ease;
}

.menu_bold{
    font-family: 'Roboto';
    font-weight: 1000;
    text-decoration: none;
    color: black;
    margin: 15px;
    transition: font-weight 0.3s ease;
}

.menu:hover {
    font-weight: 800;
}


.line {
    border: 1px solid black;
    width: 80%;

}

.bottom_line {
    width: 80%;
    border: 1px solid black;
    margin-top: 80px;
    margin-bottom: 60px;

}

#home_img{
    width: 80%;
    display: flex;
    margin:auto;
}


.welcome_box{
    display:flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
    margin-bottom: 10px;
}

.subtitle{
display: flex;
font-family: 'Roboto';
font-size: 50px;
margin-left: 10%;
margin-right: 10%;
margin-top: 50px;
margin-bottom: 20px;
display:flex;
justify-content: start;
}

.subtitle_right{
    display: flex;
    font-family: 'Roboto';
    font-size: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display:flex;
    justify-content: end;
    }

.center_text{
    display: flex;
    font-family: 'Roboto';
    font-style: italic;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
    
    }


.body_text{
margin-right: 20%;
font-size: 18px;
font-weight: 80;

}

.intro_container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    margin-bottom: 50px;
 
}

#background_1{
background-image: url('aerial_view.png'); 
background-size:auto;
background-position:right;
background-repeat: no-repeat;
height: 800px;
}

#hutong_intro{
    width:50%;
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 30px;
}


#background_2{
  background-image: url('pier_intro.png'); 
  background-size: 700px;
  background-position:right;
  background-repeat: no-repeat;
  margin-right: 10%;
  height: 900px;
  margin-bottom: 50px;
  
  }
  
#pier_intro{
      width:50%;
      background-color: rgba(255, 255, 255, 0.7); 
      padding: 30px;
  }


  #background_3{
    background-image: url('brick_intro.jpg'); 
    background-size: 700px;
    background-position:right;
    background-repeat: no-repeat;
    margin-right: 10%;
    height: 500px;
    margin-bottom: 50px;
    }
  

  #background_4{
    background-image: url('guangliang_1.jpg'); 
    background-size: 700px;
    background-position:right;
    background-repeat: no-repeat;
    margin-right: 10%;
    height: 500px;
    margin-bottom: 50px;
    }
  
    
/*explore section */

.explore_box_1{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 200px;
}

.explore_box_2{
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 200px;
}

.explore_box_3{
    display: flex;
    justify-content: center;
    align-items: end;
}


.large_image{
    width: 400px;
    height: 400px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content:flex-end;
}


.large_image_blur{
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content:flex-end;

}


.large_image_blur:hover{
    width: 400px;
    height: 400px;

    overflow: hidden;
    position: relative;
    display: flex;
    justify-content:flex-end;
    filter: blur(5px); 
}

.large_image img{
    min-width: 100%; 
    min-height: 100%;
    object-fit:cover;
}

.small_image{
    width: 200px;
    height: 200px;
    margin: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content:flex-end;
}


.small_image img{
    min-width: 100%; 
    min-height: 100%;
    object-fit:cover;
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .large_image:hover .overlay-text {
    opacity: 1;
  }

  .small_image:hover .overlay-text {
    opacity: 1;
  }



.intro_img{
    width: 40%;
}


/*collections section */

.collection_container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    aspect-ratio: auto;


}
.collection{
    width: 100px;
    flex: 0 calc(25% - 10px); 
    margin: 5px; 
    margin-bottom:20px;
    aspect-ratio: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
 
  }

  .collection_text_box {
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  


  .collection_name {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 800;
    
  }
  

  .collection_location {
    font-family: 'Roboto';
    color:darkgray;
    font-size: 13px;
    margin-top: 10px;
    font-weight: 100;
    
  }

  
  .collection:hover .collection_text_box {
    opacity: 1;
  }



  .gate_carousel_wrapper{
    padding-top: 20px;
    margin-top: 30px;
    display: flex;

  }

  .carousel{
    width:45%;
    margin:30px auto;
    display: flex;

  }


  .carousel_container{
    display: flex;
    width:50%;
    gap:20px;

  }

  .carousel-nav{
    width:40%;
    margin:30px auto;
  }


  .slick-slide{
    margin:10px;
  }
  .slick-slide img{
    width:100%;
  }



  .slick-prev:before {
    color: gray !important;
    background-color: #eee;
  }
  .slick-next:before {
    color: gray !important;
    background-color: #eee;
  }


  .carousel_container{
    display: flex;
    justify-content: space-between;
  }


.carousel_title{
  font-family: Roboto;
    font-weight:1000;
    font-size: 25px;
    display: flex;
    justify-content:center;
    margin-bottom:20px;
    outline: 2px black;
    box-sizing: border-box;
}


.carousel_text{
  display: flex;
  justify-content:center;
  margin:auto;
  font-weight: 20;
}
  /*mobile slick text slider*/
  
  
  .testimonial-image-slider {margin-top: 5px}
  .slick-list {margin: 0 5px}
  
  .carousel_description{
    transform: scale(1);
    display: flex;  
    margin-left: 5%;
    margin-right: 5%;
    justify-content:center;
  
  }
  .carousel_description.slick-current{
    transform: scale(1);
    -webkit-transition: all .5s;
    transition: all .5s;
  }
